$tile-border-color: palevioletred;

.tile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  width: 30vw;
  height: 30vw;
  border-radius: 3px;
  border: 2px solid $tile-border-color;
  font-size: 3.5vw;
  img {
    width: 15vw;
    height: 15vw;
    margin: 2vw;
  }
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    color: $tile-border-color;
  }
}
