$base-color: #e8638e;
$base-background-color: white;
$correct-background-color: #b0c586;

.button-answer {
  width: 66vw;
  background: $base-background-color;
  color: $base-color;
  font-size: 1em;
  margin-bottom: 2vw;
  padding: 1vw;
  border: 2px solid $base-color;
  border-radius: 3px;
  text-align: center;
  &:hover {
    background: $base-color;
    color: $base-background-color;
    cursor: pointer;
  }
}
.button-answer.correct {
  background-color: $correct-background-color;
  &:hover {
    background-color: $correct-background-color;
    color: $base-color;
    cursor: default;
  }
}
.button-answer.answer {
  background: $base-color;
  color: $base-background-color;
  &:hover {
    background: $base-color;
    color: $base-background-color;
    cursor: default;
  }
}
.button-answer.disabled {
  background: $base-background-color;
  color: $base-color;
  &:hover {
    background: $base-background-color;
    color: $base-color;
    cursor: default;
  }
}

