$base-color: palevioletred;
$background-color: #b6bcbc;

.question-container {
  margin: 2vw;
  border-radius: 3px;
  border: $base-color solid 1px;
  width: 70vw;
}
.question-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: $base-color solid 1px;
  align-items: center;
  justify-content: space-between;
  img {
    width: 10vw;
    height: 10vw;
    margin: 1vw;
  }
}
.question-progress {
  margin: 1vw;
  font-size: 5vw;
  color: #a5a5a5;
}
.question-text {
  margin: 2vw;
  padding: 3vw;
  background: $background-color;
  border-radius: 3px;
  word-wrap: break-word;
}
.answers-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
}
